.input-popover-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: transparent;
}

.input-popover {
    position: fixed;
    width: 28rem;
    height: 36rem;
    background-color: var(--semantic-color-slate-solid-surface-frame-low);
    border-radius: var(--general-border-radius);
    box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.16);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
