// Color tokens
$color-white: #ffffff !default;
$color-black: #000000 !default;
$color-primary: #facc15 !default;
$color-secondary: #0a0a0a !default;
$color-background: #ffffff !default;
$color-text: #333333 !default;
